<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>发票抬头</title>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../../static/css/lib/bootstrap3.4.1.min.css" th:href="@{/css/lib/bootstrap3.4.1.min.css}">
    <!-- Bootstrap-table CSS-->
    <link rel="stylesheet" href="../../static/css/lib/bootstrap-table.min.css" th:href="@{/css/lib/bootstrap-table.min.css}">
    <!-- jquery-ui CSS-->
    <link rel="stylesheet" href="../../static/css/lib/jquery-ui.min.css" th:href="@{/css/lib/jquery-ui.min.css}">
    <link href="../../static/css/file.css" rel="stylesheet" th:href="@{/css/file.css}">
    <link href="../../static/css/table.css" rel="stylesheet" th:href="@{/css/table.css}">
</head>

<body onload="init();">

    <div class="panel-body" style="padding-bottom:0;">

        <div id="toolbar" class="btn-group">
            <button id="btn_add" type="button" class="btn btn-default" data-toggle="modal" data-target="#addModal">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增发票抬头
            </button>
        </div>
        <table id="table"></table>

    </div>

    <!-- 模态框（Modal） 查看 -->
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="viewModalLabel">
                        查看发票抬头
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <caption>发票抬头信息</caption>
                        <tbody>
                        <tr>
                            <td>抬头名称</td>
                            <td id="view_name">xxx</td>
                        </tr>
                        <tr>
                            <td>抬头说明</td>
                            <td id="view_remark">xxx</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- 模态框（Modal） 编辑 -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="editModalLabel">
                        编辑发票抬头
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group has-success">
                            <label class="col-sm-4 control-label label-font" for="edit_name">抬头名称</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" id="edit_name" onchange="checkInputChange('edit_name');">
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <label class="col-sm-4 control-label label-font" for="edit_remark">抬头说明</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="6" id="edit_remark"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="edit();">编辑</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- 模态框（Modal） 新增 -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="min-width: 800px">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title text-center" id="addModalLabel">
                        新增发票抬头
                    </h2>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group has-error">
                            <label class="col-sm-2 control-label label-font" for="input_name">抬头名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="input_name" onchange="checkInputChange('input_name');">
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <label class="col-sm-2 control-label label-font" for="input_remark">抬头说明</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="6" id="input_remark"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="add();">添加</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

<!-- JavaScript files-->
<!-- jquery.js -->
<script src="../../static/js/lib/jquery.min.js" th:src="@{/js/lib/jquery.min.js}"></script>
<!-- Bootstrap.js -->
<script src="../../static/js/lib/bootstrap3.4.1.min.js" th:src="@{/js/lib/bootstrap3.4.1.min.js}"></script>
<!-- Bootstrap-table.js -->
<script src="../../static/js/lib/bootstrap-table.min.js" th:src="@{/js/lib/bootstrap-table.min.js}"></script>
<script src="../../static/js/lib/bootstrap-table-zh-CN.min.js" th:src="@{/js/lib/bootstrap-table-zh-CN.min.js}"></script>
<!-- sweetalert2.js -->
<script src="../../static/js/lib/sweetalert.min.js" th:src="@{/js/lib/sweetalert.min.js}"></script>
<script src="../../static/js/lib/es6-promise.auto.min.js" th:src="@{/js/lib/es6-promise.auto.min.js}"></script>
<!-- jquery-ui.js -->
<script src="../../static/js/lib/jquery-ui.min.js" th:src="@{/js/lib/jquery-ui.min.js}"></script>
<script src="../../static/js/common.js" th:src="@{/js/common.js}"></script>
<script src="../../static/js/dragModel.js" th:src="@{/js/dragModel.js}"></script>
<script>
    /** 初始化 */
    let $table = $('#table');

    // 服务器分页获取数据
    function getServerPaging(node, url, queryParams) {
        initTable(node, url, [10, 20, 30, 40, 50, 60, "All"], queryParams, [{
            checkbox: true
        }, {
            field: 'name',
            title: '抬头名称',
            width: '230px',
            formatter: stringFormatter
        }, {
            field: 'remark',
            title: '抬头说明',
            width: '250px',
            formatter: stringFormatter
        }, {
            field: 'deleteFlag',
            title: '删除标识',
            width: '73px',
            align: "center",
            formatter: value => null === value ? "" : "1" === value ? '<span title="已删除" class="label label-danger">已删除</span>' : '<span title="正常" class="label label-success">正常</span>'
        }, {
            field: 'createTime',
            title: '创建日期',
            width: '170px',
            formatter: dateFormatter
        }, {
            field: 'updateTime',
            title: '更新日期',
            width: '170px',
            formatter: dateFormatter
        }, {
            field: 'operation',
            title: '操作',
            width: '278px',
            formatter: operateFormatter // 自定义方法，添加操作按钮
        }]);
    }

    function operateFormatter(value, row, index) {  // 赋予的参数
        if ('1' === row.deleteFlag) {
            return [
                '<button class="btn btn-success view" data-toggle="modal" data-target="#viewModal" onclick="view(' + index + ');">查看</button>&nbsp;&nbsp;' +
                '<button class="btn btn-primary view" data-toggle="modal" data-target="#editModal" onclick="initEdit(' + index + ');">编辑</button>&nbsp;&nbsp;' +
                '<button class="btn btn-danger view" onclick="deleteOne(' + index + ');">删除</button>&nbsp;&nbsp;'+
                '<button class="btn btn-warning view" onclick="recoverOne(' + index + ');">恢复</button>&nbsp;&nbsp;'
            ].join('');
        } else {
            return [
                '<button class="btn btn-success view" data-toggle="modal" data-target="#viewModal" onclick="view(' + index + ');">查看</button>&nbsp;&nbsp;' +
                '<button class="btn btn-primary view" data-toggle="modal" data-target="#editModal" onclick="initEdit(' + index + ');">编辑</button>&nbsp;&nbsp;' +
                '<button class="btn btn-danger view" onclick="deleteOne(' + index + ');">删除</button>&nbsp;&nbsp;'
            ].join('');
        }
    }

    // 修改提示框样式
    changeToolTip();

    // 模态框初始化
    dragTheModalDialog();

    // 初始化表格数据
    function init() {
        getServerPaging($table, "/the-invoice-looked-up/getInvoiceTitle", params => {
            return { limit: params.limit, offset: params.offset, sort: "create_time", order: "DESC" };
        });
    }
</script>

<script>
    /** 功能 */
    // 添加
    function add() {
        let data = {
            name: $("#input_name").val(),
            remark: $("#input_remark").val(),
        };
        if ('' === data.name) {
            swal("操作提示", "请输入必输入项", "info");
        } else {
            parameterPostRequest("/the-invoice-looked-up/insert", data, () => {
                $('#addModal').modal('hide');
                swal("正确", "添加成功", "success");
                init();
            });
        }
    }

    // 查看
    function view(index) {
        let rows = $table.bootstrapTable('getData');
        $("#view_name").text(rows[index].name);
        $("#view_remark").text(rows[index].remark);
    }

    // 编辑
    // edit记录id
    let editId;
    function initEdit(index) {
        let rows = $table.bootstrapTable('getData');
        $("#edit_name").val(rows[index].name).trigger("change");
        $("#edit_remark").val(rows[index].remark);
        editId = rows[index].id;
    }
    function edit() {
        let data = {
            id: editId,
            name: $("#edit_name").val(),
            remark: $("#edit_remark").val()
        };
        if ('' === data.name) {
            swal("操作提示", "请输入必输入项", "info");
        } else {
            parameterPostRequest("/the-invoice-looked-up/updateInvoiceTitle", data, () => {
                $('#editModal').modal('hide');
                swal("正确", "编辑成功", "success");
                init();
            });
        }
    }

    // 删除
    function deleteOne(index) {
        dialog("确定删除吗？", () => {
            let data = { "id": $table.bootstrapTable('getData')[index].id };
            parameterPostRequest("/the-invoice-looked-up/delete", data, () => {
                swal("正确", "删除成功", "success");
                init();
            });
        });
    }

    // 恢复
    function recoverOne(index) {
        dialog("确定恢复吗？", () => {
            let data = { "id": $table.bootstrapTable('getData')[index].id };
            parameterPostRequest("/the-invoice-looked-up/recoverInvoiceTitle", data, () => {
                swal("正确", "恢复成功", "success");
                init();
            });
        });
    }
</script>

</body>

</html>